<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434345813816-lpg1th84j1e5p3vqbej68a24beke8kh3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434345813816-lpg1th84j1e5p3vqbej68a24beke8kh3</string>
	<key>API_KEY</key>
	<string>AIzaSyB7euXU-dAmY8L8OI3533MrAGYjgTemfTM</string>
	<key>GCM_SENDER_ID</key>
	<string>434345813816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.phoneCallApp</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-1-baf78</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-1-baf78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434345813816:ios:bc8b9f22df5670601a03cd</string>
</dict>
</plist>